:root {
    --vp-c-brand: #646cff;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-lighter: #9499ff;
    --vp-c-brand-lightest: #bcc0ff;
    --vp-c-brand-dark: #535bf2;
    --vp-c-brand-darker: #454ce1;

    --vp-code-block-bg: #f9fafb;

    --vp-sidebar-width: 320px;
}


.demo-block .meta {
    background-color: var(--vp-code-block-bg);
}

html.dark {
    --vp-code-block-bg: var(--vp-c-bg-alt);
}

.demo-block .xl-button {
    margin: 0 10px 10px 0;
}

.image-src {
    transition: all ease .5s;
}

.image-src:hover {
    filter: drop-shadow(0 5px 20px var(--vp-c-indigo-1));
    transition: all ease .5s;
}

.vp-doc ul {
    list-style: none;
}

/* 存在sidebar的title */
@media (min-width: 960px) {
    .VPNavBarTitle.has-sidebar span {
        color: #fff;
    }
}

/* 重写sidebar */
.VPSidebar {
    /* background: var(--vp-c-brand-1) !important; */
    background: linear-gradient(90deg, #324d9f 0%, #3c51de 100%);
    /* background: url("../images/asider-bg.png") center/cover; */
}

.VPSidebar .curtain {
    /* background: var(--vp-c-brand-1) !important; */
    background: transparent;
}

.VPSidebarItem .text,
.VPSidebarItem .caret {
    color: #fff !important;
}

.VPSidebar .items p {
    display: inline-block;
    width: calc(var(--vp-sidebar-width) - 100px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 6px;
    padding-left: 6px;
    transition: all ease .3s;
}

.VPSidebar .items p:hover,
.VPSidebarItem.is-active.has-active {
    border-radius: 4px;
    color: #fff !important;
    transition: all ease .3s;
}

.VPSidebar .items p:hover {
    background-color: rgba(255, 255, 255, .2);
}

.VPSidebarItem.is-active.has-active {
    background-color: #fff;
}

.VPSidebarItem.is-active>.item .link>.text {
    color: rgba(52, 81, 178, 1) !important;
}

.vp-doc summary {
    padding: 10px 14px;
    border-radius: 6px;
    background: #F8FAFB;
}


/* 切换暗黑 */
.VPSwitch {
    width: 22px !important;
}

.dark .VPSidebar {
    background-color: #000 !important;
}

.dark .VPSidebar .curtain {
    background: #000 !important;
}

.dark .VPSwitchAppearance .check {
    transform: translateX(0) !important;
}

.dark .el-tag {
    background: transparent;
    color: #fff;
}

/* 右侧sidebar */
.aside-container {
    width: 300px !important;
}


/* 默认隐藏滚动条 */
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    transition: all ease .3s;
}

::-webkit-scrollbar:hover {
    width: 6px;
    background: rgba(0, 0, 0, 0.1);
    transition: all ease .3s;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}